* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e8ded5;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.home {
    padding-top: 100px;
    color: #fff;
    height: 750px;
    background-color: #7d613b;
}

.home h1 {
    padding-top: 120px;
    padding-left: 18%; 
    font-size: 30px; 
    font-size: 4em;
}
.home h2 {
    padding-left: 18%; 
    font-size: 30px; 
    font-size: 5em;
}

.home h3 {
    padding-left: 18%; 
    font-size: 30px; 
    font-size: 4em;
}

.about {
    text-align: center;
    padding: 100px 0;
    height: 720px;
    background-color: #e8ded5;
}

.about h2 {
    margin-bottom: 30px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.contact {
    text-align: center;
    padding: 100px 0;
}

.contact h2 {
    margin-bottom: 30px;
}

footer {
    background-color: #e8ded5;
    padding: 20px;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .home h1, .home h2, .home h3 {
        padding-left: 5%; /* Adjust as needed */
        font-size: 20px; /* Adjust as needed */
    }
}

@media screen and (max-width: 480px) {
    /* Adjust styles for even smaller screens */
    .home h1, .home h2, .home h3 {
        padding-left: 2%; /* Adjust as needed */
        font-size: 15px; /* Adjust as needed */
    }
}
